In [1]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.keys import Keys
import time
import re
import pandas as pd
from selenium.webdriver.common.action_chains import ActionChains
from bs4 import BeautifulSoup
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
import math
import numpy as np
import regex
pd.options.mode.chained_assignment = None 
import warnings
warnings.filterwarnings("ignore")

# **Reading data**

In [2]:
hotel_full_Meghri = pd.read_csv('hotel_full_Meghri.csv')
hotel_full_Meghri

,city,country,name,host_since,host_response_rate,host_identity_verified,review,superhost,property_type,accomodates,...,number_bedroom,number_beds,rating,price,cleanliness,accuracy,communication,location,check_in,value
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Meghri, Syunik, Armenia","Meghri, Syunik, Armenia",For 3 Person,Joined in April 2016,Response rate: 100%\nResponse time: within an ...,['4 Reviews'],['4 Reviews'],4 Reviews,Private room in rental unit hosted by Armen,3 guests,...,3 guests,3 guests,NaN,36.0,旭\nJuly 2019\n很好的地方,旭\nJuly 2019\n很好的地方,旭\nJuly 2019\n很好的地方,旭\nJuly 2019\n很好的地方,旭\nJuly 2019\n很好的地方,旭\nJuly 2019\n很好的地方
2,"Tsav, Syunik Province, Armenia","Tsav, Syunik Province, Armenia","Xustup,Eco. Food,Not Expensive,Wildlife, Hoostup",Joined in September 2019,NaN,[''],[''],NaN,Private room in bed and breakfast hosted by Harut,10 guests,...,10 guests,10 guests,NaN,16.0,During your stay\nIf you like to dream about t...,During your stay\nIf you like to dream about t...,During your stay\nIf you like to dream about t...,During your stay\nIf you like to dream about t...,During your stay\nIf you like to dream about t...,During your stay\nIf you like to dream about t...
3,"Ordubad, Nakhchivan Autonomous Republic, Azerb...","Ordubad, Nakhchivan Autonomous Republic, Azerb...",Ordubad (1870),Joined in September 2012,"Languages: Русский, Türkçe",['5 Reviews'],['5 Reviews'],5 Reviews,Private room in residential home hosted by Anar,6 guests,...,6 guests,6 guests,NaN,30.0,Sultan\nDecember 2019\nThe host:\n\nAnar does ...,Sultan\nDecember 2019\nThe host:\n\nAnar does ...,Sultan\nDecember 2019\nThe host:\n\nAnar does ...,Sultan\nDecember 2019\nThe host:\n\nAnar does ...,Sultan\nDecember 2019\nThe host:\n\nAnar does ...,Sultan\nDecember 2019\nThe host:\n\nAnar does ...
4,"Tsav, Syunik Province, Armenia","Tsav, Syunik Province, Armenia",Hustup Xustup,Joined in September 2019,NaN,[''],[''],NaN,Private room in bed and breakfast hosted by Harut,10 guests,...,10 guests,10 guests,NaN,16.0,During your stay\nlet them ask what they are i...,During your stay\nlet them ask what they are i...,During your stay\nlet them ask what they are i...,During your stay\nlet them ask what they are i...,During your stay\nlet them ask what they are i...,During your stay\nlet them ask what they are i...

In [3]:
hotel_full_Meghri = hotel_full_Meghri.drop(labels = 0, axis = 0)
hotel_full_Meghri

,city,country,name,host_since,host_response_rate,host_identity_verified,review,superhost,property_type,accomodates,...,number_bedroom,number_beds,rating,price,cleanliness,accuracy,communication,location,check_in,value
1,"Meghri, Syunik, Armenia","Meghri, Syunik, Armenia",For 3 Person,Joined in April 2016,Response rate: 100%\nResponse time: within an ...,['4 Reviews'],['4 Reviews'],4 Reviews,Private room in rental unit hosted by Armen,3 guests,...,3 guests,3 guests,NaN,36.0,旭\nJuly 2019\n很好的地方,旭\nJuly 2019\n很好的地方,旭\nJuly 2019\n很好的地方,旭\nJuly 2019\n很好的地方,旭\nJuly 2019\n很好的地方,旭\nJuly 2019\n很好的地方
2,"Tsav, Syunik Province, Armenia","Tsav, Syunik Province, Armenia","Xustup,Eco. Food,Not Expensive,Wildlife, Hoostup",Joined in September 2019,NaN,[''],[''],NaN,Private room in bed and breakfast hosted by Harut,10 guests,...,10 guests,10 guests,NaN,16.0,During your stay\nIf you like to dream about t...,During your stay\nIf you like to dream about t...,During your stay\nIf you like to dream about t...,During your stay\nIf you like to dream about t...,During your stay\nIf you like to dream about t...,During your stay\nIf you like to dream about t...
3,"Ordubad, Nakhchivan Autonomous Republic, Azerb...","Ordubad, Nakhchivan Autonomous Republic, Azerb...",Ordubad (1870),Joined in September 2012,"Languages: Русский, Türkçe",['5 Reviews'],['5 Reviews'],5 Reviews,Private room in residential home hosted by Anar,6 guests,...,6 guests,6 guests,NaN,30.0,Sultan\nDecember 2019\nThe host:\n\nAnar does ...,Sultan\nDecember 2019\nThe host:\n\nAnar does ...,Sultan\nDecember 2019\nThe host:\n\nAnar does ...,Sultan\nDecember 2019\nThe host:\n\nAnar does ...,Sultan\nDecember 2019\nThe host:\n\nAnar does ...,Sultan\nDecember 2019\nThe host:\n\nAnar does ...
4,"Tsav, Syunik Province, Armenia","Tsav, Syunik Province, Armenia",Hustup Xustup,Joined in September 2019,NaN,[''],[''],NaN,Private room in bed and breakfast hosted by Harut,10 guests,...,10 guests,10 guests,NaN,16.0,During your stay\nlet them ask what they are i...,During your stay\nlet them ask what they are i...,During your stay\nlet them ask what they are i...,During your stay\nlet them ask what they are i...,During your stay\nlet them ask what they are i...,During your stay\nlet them ask what they are i...

In [4]:
nan_value = float("Nan")
hotel_full_Meghri.replace("", nan_value, inplace = True)
hotel_full_Meghri.dropna(inplace= True)
hotel_full_Meghri

Empty DataFrame
Columns: [city, country, name, host_since, host_response_rate, host_identity_verified, review, superhost, property_type, accomodates, number_bathroom, number_bedroom, number_beds, rating, price, cleanliness, accuracy, communication, location, check_in, value]
Index: []

[0 rows x 21 columns]

In [5]:
city_list = []
for i in hotel_full_Meghri.index:
    text = re.sub(",", "", hotel_full_Meghri["city"][i][:hotel_full_Meghri["city"][i].index("Armenia")])
    city_list.append(text)

hotel_full_Meghri["city"]= city_list
hotel_full_Meghri

Empty DataFrame
Columns: [city, country, name, host_since, host_response_rate, host_identity_verified, review, superhost, property_type, accomodates, number_bathroom, number_bedroom, number_beds, rating, price, cleanliness, accuracy, communication, location, check_in, value]
Index: []

[0 rows x 21 columns]

In [6]:
nan_value = float("Nan")
hotel_full_Meghri.replace("", nan_value, inplace = True)
hotel_full_Meghri.dropna(inplace= True)
hotel_full_Meghri

Empty DataFrame
Columns: [city, country, name, host_since, host_response_rate, host_identity_verified, review, superhost, property_type, accomodates, number_bathroom, number_bedroom, number_beds, rating, price, cleanliness, accuracy, communication, location, check_in, value]
Index: []

[0 rows x 21 columns]

In [7]:
c_l = []    
for k in hotel_full_Meghri["city"]:
    tex = re.search("\w+", k).group()
    c_l.append(tex)
hotel_full_Meghri["city"]= c_l
hotel_full_Meghri

Empty DataFrame
Columns: [city, country, name, host_since, host_response_rate, host_identity_verified, review, superhost, property_type, accomodates, number_bathroom, number_bedroom, number_beds, rating, price, cleanliness, accuracy, communication, location, check_in, value]
Index: []

[0 rows x 21 columns]

In [8]:
country_list = []
for i in hotel_full_Meghri.index:
    text = re.search("Armenia", hotel_full_Meghri["country"][i]).group()
    country_list.append(text)

hotel_full_Meghri["country"] = country_list

In [9]:
hotel_full_Meghri

Empty DataFrame
Columns: [city, country, name, host_since, host_response_rate, host_identity_verified, review, superhost, property_type, accomodates, number_bathroom, number_bedroom, number_beds, rating, price, cleanliness, accuracy, communication, location, check_in, value]
Index: []

[0 rows x 21 columns]

In [10]:
host_since_list = []
for i in hotel_full_Meghri.host_since:
    k = re.findall("(\d{4})", i)
    host_since_list.append(k)
hs = []   
host_since_list = [item for sublist in host_since_list for item in sublist]
for k in host_since_list:
    a = int(k)
    hs.append(a)
hotel_full_Meghri.host_since = hs 
hotel_full_Meghri.host_since

Series([], Name: host_since, dtype: float64)

In [11]:
hotel_full_Meghri

Empty DataFrame
Columns: [city, country, name, host_since, host_response_rate, host_identity_verified, review, superhost, property_type, accomodates, number_bathroom, number_bedroom, number_beds, rating, price, cleanliness, accuracy, communication, location, check_in, value]
Index: []

[0 rows x 21 columns]

In [12]:
string = []
for i in hotel_full_Meghri.index:
    st = hotel_full_Meghri.host_identity_verified[i].strip('[]').strip("'")
    string.append(st)
string

[]

In [13]:
hotel_full_Meghri.host_identity_verified = string
hotel_full_Meghri.host_identity_verified

Series([], Name: host_identity_verified, dtype: float64)

In [14]:
for i in hotel_full_Meghri.index:
    if "Identity verified" in  hotel_full_Meghri.host_identity_verified[i]:
        hotel_full_Meghri.loc[i, 'host_identity_verified'] = "Identity verified"
    else:
        hotel_full_Meghri.loc[i, 'host_identity_verified'] = "Identity not verified"

In [15]:
hotel_full_Meghri

Empty DataFrame
Columns: [city, country, name, host_since, host_response_rate, host_identity_verified, review, superhost, property_type, accomodates, number_bathroom, number_bedroom, number_beds, rating, price, cleanliness, accuracy, communication, location, check_in, value]
Index: []

[0 rows x 21 columns]

In [16]:
for i in hotel_full_Meghri.index:
    if "Review" in  hotel_full_Meghri.review[i]:
        hotel_full_Meghri.loc[i, 'review'] = re.search("(\d+)", hotel_full_Meghri.review[i]).group()
        
    else:
        hotel_full_Meghri.loc[i, 'review'] = 0

In [17]:
hotel_full_Meghri

Empty DataFrame
Columns: [city, country, name, host_since, host_response_rate, host_identity_verified, review, superhost, property_type, accomodates, number_bathroom, number_bedroom, number_beds, rating, price, cleanliness, accuracy, communication, location, check_in, value]
Index: []

[0 rows x 21 columns]

In [18]:
for i in hotel_full_Meghri.index:
    if "Superhost" in  hotel_full_Meghri.superhost[i]:
        hotel_full_Meghri.loc[i, 'superhost'] = "Super host"
    else:
        hotel_full_Meghri.loc[i, 'superhost'] = "regular host"

In [19]:
prop_list = []
for i in hotel_full_Meghri.property_type:
    k = re.sub("hosted\sby\s\w*", "", i).strip(" ")
    prop_list.append(k)
prop_list

[]

In [20]:
hotel_full_Meghri.property_type =prop_list

In [21]:
hotel_full_Meghri

Empty DataFrame
Columns: [city, country, name, host_since, host_response_rate, host_identity_verified, review, superhost, property_type, accomodates, number_bathroom, number_bedroom, number_beds, rating, price, cleanliness, accuracy, communication, location, check_in, value]
Index: []

[0 rows x 21 columns]

In [22]:
accomodates_list = []
for i in hotel_full_Meghri.accomodates:
    k = re.findall("(\d+)\sguest", i)
    accomodates_list.append(k)
number = []   
accomodates_list = [item for sublist in accomodates_list for item in sublist]
for k in accomodates_list:
    a = int(k)
    number.append(a)
    
hotel_full_Meghri.accomodates = number

In [23]:
for i in hotel_full_Meghri.index:
    if "Shared half-bath" in  hotel_full_Meghri.number_bathroom[i]:
        hotel_full_Meghri.loc[i, 'number_bathroom'] = 0.5
    elif "Half-bath" in  hotel_full_Meghri.number_bathroom[i]:
        hotel_full_Meghri.loc[i, 'number_bathroom'] = 0.5
    elif "bath" not in  hotel_full_Meghri.number_bathroom[i]:
        hotel_full_Meghri.loc[i, 'number_bathroom'] = 0
    elif "private bath" in  hotel_full_Meghri.number_bathroom[i]:
        t = re.findall("(\d+(?:\.\d+)?)\sprivate", hotel_full_Meghri.number_bedroom[i])
        hotel_full_Meghri.loc[i, 'number_bathroom'] = t
    elif "shared bath" in  hotel_full_Meghri.number_bathroom[i]:
        sh = re.findall("(\d+(?:\.\d+)?)\sshared\sbath", hotel_full_Meghri.number_bedroom[i])
        hotel_full_Meghri.loc[i, 'number_bathroom'] = sh    
    else:
        
        k = re.findall("(\d+(?:\.\d+)?)\sbath", hotel_full_Meghri.number_bedroom[i])
        k = "".join(k)
        if k != "":
            hotel_full_Meghri.loc[i, 'number_bathroom'] = k

In [24]:
number_beds_list = []
for i in hotel_full_Meghri.index:
    if "bed" in  hotel_full_Meghri.number_beds[i]:
        try:
            k = re.search("(\d+)\sbe\w{1,2}\s", hotel_full_Meghri.number_beds[i]).group(1)
        except AttributeError:
            k = re.search("(\d+)\sbe\w{1,2}\s", hotel_full_Meghri.number_beds[i])
    
        number_beds_list.append(k) 

number_beds_list

[]

In [25]:
len(hotel_full_Meghri.number_beds)

0

In [26]:
len(number_beds_list)

0

In [27]:
hotel_full_Meghri.number_beds = number_beds_list

In [28]:
hotel_full_Meghri.number_beds

Series([], Name: number_beds, dtype: float64)

In [29]:
for i in hotel_full_Meghri.index:
    if "Studio" in  hotel_full_Meghri.number_bedroom[i]:
        hotel_full_Meghri.loc[i, 'number_bedroom'] = 0
    else:
        k = re.findall("(\d+)\sbedroom", hotel_full_Meghri.number_bedroom[i])
        hotel_full_Meghri.loc[i, 'number_bedroom'] = k

In [30]:
for i in hotel_full_Meghri.index:
    if "Cleanliness" in  hotel_full_Meghri.cleanliness[i]:
        hotel_full_Meghri.loc[i, 'cleanliness'] = re.findall("Cleanliness\s(\d+(?:\.\d+)?)", hotel_full_Meghri.cleanliness[i])
    else:
        hotel_full_Meghri.loc[i, 'cleanliness'] = None

In [31]:
for i in hotel_full_Meghri.index:
    if "Accuracy" in  hotel_full_Meghri.accuracy[i]:
        hotel_full_Meghri.loc[i, 'accuracy'] = re.findall("Accuracy\s(\d+(?:\.\d+)?)", hotel_full_Meghri.accuracy[i])
    else:
        hotel_full_Meghri.loc[i, 'accuracy'] = None

In [32]:
for i in hotel_full_Meghri.index:
    if "Communication" in  hotel_full_Meghri.communication[i]:
        hotel_full_Meghri.loc[i, 'communication'] = re.findall("Communication\s(\d+(?:\.\d+)?)", hotel_full_Meghri.communication[i])
    else:
        hotel_full_Meghri.loc[i, 'communication'] = None

In [33]:

for i in hotel_full_Meghri.index:
    if "Location" in  hotel_full_Meghri.location[i]:
        try:
            hotel_full_Meghri.loc[i, 'location'] = re.search("Location\s(\d+(?:\.\d+)?)", hotel_full_Meghri.location[i]).group(1)
        
        except AttributeError:
            hotel_full_Meghri.loc[i, 'location'] = re.search("Location\s(\d+(?:\.\d+)?)", hotel_full_Meghri.location[i])
    
    else:
        hotel_full_Meghri.loc[i, 'location'] = None

In [34]:
for i in hotel_full_Meghri.index:
    if "Check-in" in  hotel_full_Meghri.check_in[i]:
        hotel_full_Meghri.loc[i, 'check_in'] = re.findall("Check-in\s(\d+(?:\.\d+)?)", hotel_full_Meghri.check_in[i])
    else:
        hotel_full_Meghri.loc[i, 'check_in'] = None

In [35]:
for i in hotel_full_Meghri.index:
    if "Value" in  hotel_full_Meghri.value[i]:
        hotel_full_Meghri.loc[i, 'value'] = re.findall("Value\s(\d+(?:\.\d+)?)", hotel_full_Meghri.value[i])
    else:
        hotel_full_Meghri.loc[i, 'value'] = None

In [36]:
for i in hotel_full_Meghri.index:
    if "No reviews (yet)" in  hotel_full_Meghri.rating[i]:
        hotel_full_Meghri.loc[i, 'rating'] = 0

In [37]:
price_list = []
for i in hotel_full_Meghri.price:
    k = re.findall("(\d+)\n", i)
    price_list.append(k)

price_list = [item for sublist in price_list for item in sublist]
  
hotel_full_Meghri.price = price_list

In [38]:
for i in hotel_full_Meghri.index:
    if "Response rate" in  hotel_full_Meghri.host_response_rate[i]:
        t = re.findall("\s(\d+)", hotel_full_Meghri.host_response_rate[i])
        hotel_full_Meghri.loc[i, 'host_response_rate'] = t 
    else:
        hotel_full_Meghri.loc[i, 'host_response_rate'] = None

In [39]:
convert_dict = {'host_since': float, 'host_response_rate': float,  'review': float,  'accomodates': float, 
                                        'number_bathroom': float, 'number_bedroom': float, 
                                        'number_beds': float,'rating': float,  'price': float,
                                        'cleanliness': float, 'accuracy': float, 'communication': float, 
                           'location': float, 'check_in': float, 'value': float}

In [40]:
hotel_full_Meghri = hotel_full_Meghri.astype(convert_dict)

In [41]:
hotel_full_Meghri.dtypes

city                      float64
country                   float64
name                       object
host_since                float64
host_response_rate        float64
host_identity_verified    float64
review                    float64
superhost                  object
property_type             float64
accomodates               float64
number_bathroom           float64
number_bedroom            float64
number_beds               float64
rating                    float64
price                     float64
cleanliness               float64
accuracy                  float64
communication             float64
location                  float64
check_in                  float64
value                     float64
dtype: object

In [42]:
hotel_full_Meghri.to_csv("cleaned_hotel_full_Meghri.csv", index=False)
hotel_full_Meghri.to_excel("cleaned_hotel_full_Meghri2.xlsx", index=False)